body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
}


h1 {text-align: center;}
